
Decision Tree/data/M4.CSV
Decision Tree/data/M5.CSV
K-Nearest Neighbors/data/M4.CSV
K-Nearest Neighbors/data/M5.CSV
Regression Logistic/data/M4.CSV
Regression Logistic/data/M5.CSV
SVM/data/M4.CSV
SVM/data/M5.CSV
K-Means Clustering/data/M4.CSV
K-Means Clustering/data/M5.CSV
Random Florest Classifier/data/M4.CSV
Random Florest Classifier/data/M5.CSV
Hierarchical Clustering/data/M4.CSV
Hierarchical Clustering/data/M5.CSV
